.BreadBottom {
  height: 2.15em;
  width: 15em;
  background-image: url('../../../assets/images/Bun-bottom.svg');
  background-size: 100%;
  background-repeat: none;
  margin: auto;
 
}

.BreadTop {
  height: 3.9em;
  width: 15em;
  background-image: url('../../../assets/images/Bun-Top.svg');
  background-size: 100%;
  background-repeat: none;
  margin: auto;
}


.Meat {
  width: 16em;
  height: 2em;
  background: url('../../../assets/images/Meat.svg');
  background-size: 100%;
  margin: 1% auto;
  background-repeat: none;
}

.Cheese {
  width: 16em;
  height: .7em;
  margin: 1% auto;
  background-size: 100%;
  background-image: url('../../../assets/images/Cheese.svg')
}

.Salad {
  width: 16em;
  height: 1.4em;
  margin: 1% auto;
  background-image: url('../../../assets/images/Letucce.svg');
  background-size: 100%;
}

.Bacon {
  width: 16em;
  height: 1em;
  background-image: url('../../../assets/images/Bacon.svg');
  background-size: 100%;
  margin: 1% auto;
}