.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  font-size: 1.1em;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: rgb(83, 83, 83);
  border: 1px solid #7E7365;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: rgb(54, 54, 54);
  color: rgb(153, 153, 153);
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: rgb(31, 31, 31);
  color: white;
}

.BuildControl .More {
  background-color: rgb(22, 22, 22);
  color: #7ED321;
  border: 1px solid #7ED321;

}

.BuildControl .Less:hover, .BuildControl .Less:active {
  background-color: rgb(31, 31, 31);
  color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
  background-color: rgb(80, 80, 80);
  color: #7ED321;
}